@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600;700&family=Markazi+Text:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

@font-face {
    font-family: 'Uthman Naskh';
    src: local('KFGQPC Uthman Taha Naskh'),
         url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/UthmanTN1%20Ver10.woff2) format('woff2'),
         url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/UthmanTN1%20Ver10.woff) format('woff');
}

:root{
    --clr-black: #1c1c1c;
    --clr-blue: #3690FF;
    --clr-yellow: #ffc600;
    --clr-white: #ffffff;
    --heading-font: 'Poppins', sans-serif;
    --bengali-font: 'Hind Siliguri', sans-serif;
    --arabic-font: 'Uthman Naskh','Markazi Text', serif;
}

::selection{
    background: var(--clr-black);
    color: var(--clr-yellow);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-weight: 400;
    background: var(--clr-yellow);
    color: var(--clr-black);
    font-family: var(--heading-font);
}

a,
span
{
    display: inline-block;
    text-decoration: none;
}

.btn{
    font-size: 16px;
    padding: .3rem 0.75rem;
    border-radius: 20px;
    font-family: var(--heading-font);
    transition: .2s;
    &:active{
        transform: scale(0.95);
    }
}


/* Main Styles */
main{
    // position: relative;
    // top: 50px;
    text-align: center;
    padding: 25px 0;
    .heading{
        h1{
            margin-bottom: 10px;
        }
        p{
            a{
                color: var(--clr-black);
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .btn-play,
    .bangla-ayah,
    .arabic-ayah,
    .sura-info
    {
        margin-top: 20px;
    }

    .container{
        position: relative;
        left:50%;
        margin: 20px 0;
        transform: translateX(-50%);
        background: var(--clr-white);
        max-width: 700px;
        max-height: 600px;
        border-radius: 10px;
        text-align: center;
        padding: 25px 20px;
        -webkit-box-shadow: 0px 0px 5px 0px #1c1c1c28; 
        box-shadow: 0px 0px 5px 0px rgba(28, 28, 28,0.3);

        .bangla-ayah{
            font-family: var(--bengali-font);
            font-weight: 600;
        }

        .arabic-ayah{
            font-family: var(--arabic-font);
            font-weight: 600;
        }

        .sura-info{
            font-family: var(--bengali-font);
        }

        .buttons{
            i{
                margin-right: 5px;
                vertical-align: middle;
            }

            .twitter-share{
                @extend .btn;
                color: var(--clr-blue);
                font-size: 16px;
                margin-right: 15px;
                i{
                    font-size: 22px;
                }
                &:hover{
                    background-color: rgba(54, 144, 255, 0.2);
                }
            }

            .btn-play {
                @extend .btn;
                color: var(--clr-black);
                background: var(--clr-yellow);
                &:hover{
                    -webkit-box-shadow: 0px 0px 5px 0px #1c1c1c28; 
                    box-shadow: 0px 0px 5px 0px rgba(28, 28, 28,0.3);
                }
            }
        }
    }
    .btn-generate{
        @extend .btn;
        background: var(--clr-black);
        color: var(--clr-yellow);
        -webkit-box-shadow: 0px 0px 10px 0px #1c1c1c28; 
        box-shadow: 0px 0px 10px 0px rgba(28, 28, 28,0.3);
        i{
            margin-right: 5px;
            transform: rotate(0);
            animation: spin 1.3s linear infinite;
            animation-play-state: running;
        }
        &:hover i{
            animation-play-state: paused;
        }
        @keyframes spin {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
        }
    }
}
 
/* SM Small Device :550px. */

@media only screen and (max-width: 600px) {
    .heading{
        h1{
            font-size: 28px;
        }
    }
    main{
        .container{
            margin-right: 50px;
        }
    }
}